body{
    display:flex;
    align-items: center;
    flex-direction: column;
}

.search-container{
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.input-search{
    border: 1px solid #CCC;
    color: #999;
    height: 20px;
    padding: 10px;
}

input[type="text"]{
    border-radius: 10px;
    width: 420px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,.5);
}
input[type="text"]:focus{
    border-color: #aaa;
    outline: 0;
}

input[type="submit"]{
    background-color: #0483a0;
    border:1px solid #00748f;
    width: 50px;
}

